<a href="https://colab.research.google.com/github/aishazanha/ICT-internship/blob/day1/day_1__python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=['Aisha','Adharsh','Noel']

In [ ]:
s=-3
while s<0:
   b=a[s]
   s=s+1

In [ ]:
for i in 0,1,2:
 print(b)

Noel
Noel
Noel

In [ ]:
i=4
while i>=0:
 j=0
 while j<=4:
   j=j+1
   print("*",end="")
 print("")
 i=i-1

*****
*****
*****
*****
*****

In [ ]:
print("world of python",end="!")

world of python!

In [ ]:
print("hello \n"*4)

hello
hello
hello
hello

In [ ]:
s="python"

In [ ]:
print(s[0])
print(s[-3])
print(s[1])
print(len(s))
print(s[-len(s)])

p
h
y
6
p

In [ ]:
print(s[0:4])
print(s[:3])
print(s[-5:-2])
print(s[0:6:2])

pyth
pyt
yth
pto

In [ ]:
animals=["cat","dog","mouse"]

In [ ]:
for an in animals:
   print("hi "+an)

hi cat
hi dog
hi mouse

In [ ]:
a=1
while a<10:
   print(a)
   a+=2

1
3
5
7
9

In [ ]:
numbers=[12,37,5,42,8]
even=[]
odd=[]
while len(numbers)>0:
  number=numbers.pop()
  if(number%2==0):
    even.append(number)
  else:
    odd.append(number)  
print(even)
print(odd)

[8, 42, 12]
[5, 37]

In [ ]:
#@title Calculator
print("1-Addition 2-Subtraction 3-Multiplication 4-Division")
a=int(input("enter first number:"))
b=int(input("enter second number:"))
choice=input("enter the choice:")
if choice=='1':
  r=a+b
elif choice=='2':
  r=a-b
elif choice=='3':
  r=a*b
elif choice=='4':
  r=a/b
print(r)

1-Addition 2-Subtraction 3-Multiplication 4-Division
enter first number:5
enter second number:8
enter the choice:1
13

In [ ]:
#@title Prime number
num=int(input("Enter a number:"))
c=0
i=1
while(i<=num):
  if num%i==0:
    c=c+1
  i=i+1
if c==2:
  print("It is a prime number")
else:
  print("It is not a prime number")

Enter a number:18
It is not a prime number

In [ ]:
#@title Leap year
yr=int(input("Enter the year"))
if yr%4==0:
   if yr%100!=0:
    print("Leap year")
   elif yr%400==0:
    print("Leap year")
else:
    print("Not leap year")

Enter the year2006
Not leap year

In [ ]:
#@title Sum of n numbers
n=int(input("Enter the no of terms"))
s=0
for i in range(n+1):
  s=s+i
print(s)

Enter the no of terms6
21

In [ ]:
# syntax: def function_name(argument):
  #perform_function_operation

In [ ]:
def greet():
    print("hello")

In [ ]:
greet()

hello

In [ ]:
def addnumbers(num1,num2):
  sum=num1+num2
  print(sum)

In [ ]:
addnumbers(4,5)

9

In [ ]:
def sqrnumber(num):
   sq=num*num
   print (sq)

In [ ]:
sqrnumber(3)

9